<div class="col-6">
    {{dataValues.id}}
    {{dataValues.productName}}
    {{dataValues.description}}
    {{dataValues.productLink}}

    <button class="delete-prod" data-id="{{dataValues.id}}">DELETE!</button>
</div>